<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <h1 class="field">パスワードを忘れたの？</h1>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.submit("パスワードのリセット",class:"ui blue big submit button") %>
  </div>
<% end %>
